<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kazuyevon.laminateur">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:hardwareAccelerated="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CommandeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_reglages"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kazuyevon.laminateur.MainActivity" />
        </activity>
        <activity
            android:name=".ResultActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_result"
            android:parentActivityName=".CommandeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kazuyevon.laminateur.CommandeActivity" />
        </activity>
        <activity
            android:name=".ResultPaireActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_result"
            android:parentActivityName=".CommandeActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kazuyevon.laminateur.CommandeActivity" />
        </activity>
        <activity
            android:name=".DemoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_demo"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kazuyevon.laminateur.MainActivity" />
        </activity>
        <activity
            android:name=".DemoPaireActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_demo"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kazuyevon.laminateur.MainActivity" />
        </activity>
        <activity
            android:name=".CreditActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_credit"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kazuyevon.laminateur.MainActivity" />
        </activity>
        <activity
            android:name=".AfficheResultNavigationDrawerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_result"
            android:parentActivityName=".ResultActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ResultActivity" />
        </activity>
        <activity
            android:name=".DemoRandomActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kazuyevon.laminateur.MainActivity" />
        </activity>
        <activity
            android:name=".ResultRandomActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_result"
            android:parentActivityName=".CommandeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kazuyevon.laminateur.CommandeActivity" />
        </activity>
        <activity
            android:name=".AfficheResultRandomActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_result"
            android:parentActivityName=".ResultRandomActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ResultRandomActivity" />
        </activity>
    </application>
</manifest>
